@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Chief Evolution Controller</h3>
    </header>
    <p>
        Name : @Model.Name
        Title: @Model.Title
        Email: @Model.Email
    </p>
</section>
